head {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 32px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.navBox {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

#C1 {
  padding-left: 10%;
  padding-bottom: 30%;
  padding-right: 10%;
}

#C2 {
  padding-left: 10%;
  background-image: image-set("images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25%;
}

#C3 {
  padding-bottom: 45%;
}

.C1H1 {
  text-align: center;
}

.C1T1 {
  padding-left: 12px;
  font-size: 26px;
  }

.C2T1 {
  padding-left: 15%;
  padding-right: 25%;
  font-size: 26px;
}

.C2H1 {
  text-align: center;
  margin-top: 70px;
  padding-top: 17%;
  padding-left: 15%;
  padding-right: 25%;
  font-size: 36px;
}

#C3T1 {
  text-align: center;
  margin-top: 70px;
  font-size: 36px;
}