body {
    background-color: black;
  
    font-family: "Lato", sans-serif;
      }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }

  hr {
    color: white;
  }